/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para los labels */
label {
    display: inline-block;
    width: 120px; /* Ajusta el ancho de los labels según tus necesidades */
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 60px;
}

input{
    position:static;
}

.buttons{
    display: flex;

}

.buttons
button{

    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    background: #201f23;
    padding: 10px 20px 10px 20px;
    border: solid #00328e 1px;
    text-decoration: none;
    margin:100px;
    width: 170px;
}



.buttons button:hover {
    background: #00328e;
    text-decoration: none;
}

select{
    margin: 100px;
    margin-left: -90px;
    width: 150px;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #fff;
    font-size: 20px;
    background: #7f7e7f;
    padding: 10px 20px 10px 20px;
    border: solid #fff 1px;
    text-decoration: none;
}

#owner{
    margin-left: 1px;
}




