/* Estilos para el formulario */
.main {

    padding: 20px;
    display: flex; /* Establece el contenedor como flex */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }
  
  .formulario {
    text-align: center; /* Centra los elementos dentro del formulario */
  }
  
  button {
    padding: 15px 30px; /* Padding del botón */
    font-size: 18px; /* Tamaño de fuente del botón */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    background-color: #4287f5; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    margin: 10px; /* Espacio entre los botones */
  }
  
  button:hover {
    background-color: #2a5d9a; /* Cambia el color de fondo al pasar el mouse */
  }